@mixin sizes($height){
	height: $height;
}
footer{
	background-color: $colorPrimario;
	text-align: center;
	color: $colorSecundario;
	display: flex;
	justify-content: space-around;
	& div p{
			font-size: $parrafoFooter;	
	}
	& div img{
			@include sizes(30px);
	}
	& section img{
			@include sizes(150px);
	}
}

