$titulos: 6rem; 
$subTitulos: 4rem;
$subMenor: 2.5rem;
$parrafos: 2.3rem;
$parrafoFooter: 1.5rem;
$formulario: 2rem;
$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundario: 'Roboto Condensed', sans-serif;