.bienvenida{
	color: $colorSecundario;
    font-family: $fuentePrincipal;
    font-size: $titulos;
    font-weight: 100;
    line-height: 1.2em;
}

.subTitulo{
	color: $colorSecundario;
	font-family: $fuentePrincipal;
    font-size: $subTitulos;
    font-weight: 100;
    line-height: 1.2em;
}
.subTituloMenor{
	color: $colorSecundario;
    font-family: $fuentePrincipal;
    font-size: $subMenor;
    font-weight: 100;
    line-height: 1.2em;
}
p{
	color: $colorSecundario;
	font-family: $fuenteSecundario;
	font-size: $parrafos;
}

.subFooter{
    font-size: $parrafos;
    color: $colorSecundario;
    font-family: $fuentePrincipal;
    font-weight: 100;
    line-height: 1.7em;
}